<p id="notice"><%= notice %></p>

<div align = "left">
<article typeof="dcat:Dataset">
  <dl>
    <dt>Name</dt>
      <dd property="dc:title"><%= @dataset.title %></dd>
    <dt>Creator</dt>
      <dd property="dc:creator">name: <%= @dataset.creator %></dd>
    <dt>Issuesd</dt>
      <dd property="dc:issued"> <%= @dataset.created_at %></dd>
    <dt>Modified</dt>
      <dd property="dc:modified"> <%= @dataset.updated_at %></dd>
  </dl>
</article>    
  


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
