<%= form_with(model: distribution, local: true) do |form| %>
  <% if distribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(distribution.errors.count, "error") %> prohibited this distribution from being saved:</h2>

      <ul>
      <% distribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :dataset_id %>
    <%= form.select :dataset_id, Dataset.all.collect {|x| [x.title, x.id]}, {} %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :mediatype %>
    <%= form.text_field :mediatype %>
  </div>

  <div class="field">
    <%= form.label :accessservice %>
    <%= form.text_field :accessservice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
