<!DOCTYPE html>
<html>
  <head>
    <title>Korean DCAT Repository</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="XaabjsGIDYhZKBErGbBE-yjZnaWLoFMpo7Mfag1ix5A" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
